body{
    margin-top: 0;
    padding: 0;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    line-height: 1.8em;
    background-color: #fff;
    text-align: left;
    color: #666; /* dark blue slate thing */
}

h3 {
    color : #39C;
}

h2 {
    color: #333;
    font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
    font-size: 1.1em;
    text-align: center;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: .2em;
    margin: 4em 0 1em 0;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

#navbar a{
    color: #336699;
    border: 0;
    padding: 4px 1px 4px 1px;
    text-decoration: none;
    padding: 5px 5px px 5px;

}

#navbar {
    text-align: left;
    line-height: 1em;
    font-size:13px;
}

a:link {
    text-decoration: none;
    color: #DDD;
    border-color: #888;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    padding: 3px 0px 2px 0px;
    background-color: inherit;
}

#navbar img {
    width: 10px;
    height: 10px;
    margin-bottom: 4px;
}

#navbar li {
    list-style: none;
    letter-spacing: 2px;
    text-transform: uppercase;

}


#navbar a:hover {
    color: white;
    text-decoration: none;
    background-color: #606870;
    border-color: #606870;
}


#header {
    margin :59px 12px 69px 41px;
}

hr {
    border-top: 1px solid #999;
    border-bottom: 1px dashed #999;
    padding : 2px 0 0;
}

.highlighttable, .codehilitetable, .codehilite > pre {
    margin: 0.5em 0 1em 0;
    width: 100%;
}

.highlighttable td, .codehilitetable td {
    padding: 4px 8px;
}

div > div.codehilite > pre {
    padding: 8px;
}
.highlighttable pre, .codehilitetable pre {
    margin: 4px 0;
}

.highlighttable .code, .codehilitetable .code, .codehilite {
    background-color: #333;
}

div.linenodiv {
    color: #aaa;
}

td.linenos {
    width: 30px;
    text-align: right;
}

td.code {
    width: auto;
}